**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.git
**/.env*
**/venv
**/.vscode
**/.idea
**/.DS_Store
**/env
**/.pytest_cache
**/db.sqlite3
**/backup.dump
**/backup.sql
**/node_modules
**/logs
**/*.log
**/.coverage
**/htmlcov
**/media/*
**/staticfiles/*
**/static/*
**/tmp
**/temp
**/*.bak
**/*.swp
**/*.swo
**/local_settings.py
**/settings_local.py
**/celerybeat-schedule
**/celerybeat.pid