**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.git
**/.env*
**/venv
**/.vscode
**/.idea
**/.DS_Store
**/env
**/.pytest_cache
**/db.sqlite3
**/backup.dump
**/backup.sql
**/node_modules
**/logs
**/*.log
**/.coverage
**/htmlcov